# Los Angeles PD Crime Data from 2020 to March, 10th, 2025
### Cleaning Data

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
import numpy as np

# Files to Load 
file_path = Path("resources/original_data/Crime_Data_from_2020_to_Present_20250310.csv")

# Read Data Files and store into Pandas DataFrames
crime_df = pd.read_csv(file_path)

crime_df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,200412582,09/09/2020 12:00:00 AM,09/09/2020 12:00:00 AM,630,4,Hollenbeck,413,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E AVENUE 28,NaN,34.0820,-118.2130

## Data inspection

In [2]:
# checking for columns names for future references
crime_df.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

In [3]:
# Calculating the total number of unique trails
#"nunique"- number of unique values
crime_count = crime_df['DR_NO'].nunique()
print(f"Total number of unique crime records: {crime_count}")

Total number of unique crime records: 1005104

In [4]:
#checking data format
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005104 entries, 0 to 1005103
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1005104 non-null  int64
 1   Date Rptd       1005104 non-null  object
 2   DATE OCC        1005104 non-null  object
 3   TIME OCC        1005104 non-null  int64
 4   AREA            1005104 non-null  int64
 5   AREA NAME       1005104 non-null  object
 6   Rpt Dist No     1005104 non-null  int64
 7   Part 1-2        1005104 non-null  int64
 8   Crm Cd          1005104 non-null  int64
 9   Crm Cd Desc     1005104 non-null  object
 10  Mocodes         853380 non-null   object
 11  Vict Age        1005104 non-null  int64
 12  Vict Sex        860353 non-null   object
 13  Vict Descent    860341 non-null   object
 14  Premis Cd       1005088 non-null  float64
 15  Premis Desc     1004516 non-null  object
 16  Weapon Used Cd  327244 non-null   float64
 17  Weapon Desc     327244 non-null   object
 18  Status          1005103 non-null  object
 19  Status Desc     1005104 non-null  object
 20  Crm Cd 1        1005093 non-null  float64
 21  Crm Cd 2        69146 non-null    float64
 22  Crm Cd 3        2315 non-null     float64
 23  Crm Cd 4        64 non-null       float64
 24  LOCATION        1005104 non-null  object
 25  Cross Street    154237 non-null   object
 26  LAT             1005104 non-null  float64
 27  LON             1005104 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 214.7+ MB

In [5]:
#converting all empty strings to NaN in the entire DataFrame without manually specifying each column
crime_df = crime_df.replace('', np.nan)

In [6]:
# #replacing all other missing values with NaN using numpy.nan:
# crime_df['Mocodes'] = crime_df['Mocodes'].fillna(np.nan)
# crime_df['Vict Sex'] = crime_df['Vict Sex'].fillna(np.nan)
# crime_df['Vict Descent'] = crime_df['Vict Descent'].fillna(np.nan)
# crime_df['Premis Cd'] = crime_df['Premis Cd'].fillna(np.nan)

# crime_df['Premis Desc'] = crime_df['Premis Desc'].fillna(np.nan)
# crime_df['Weapon Used Cd'] = crime_df['Weapon Used Cd'].fillna(np.nan)
# crime_df['Weapon Desc'] = crime_df['Weapon Desc'].fillna(np.nan)
# crime_df['Status'] = crime_df['Status'].fillna(np.nan)

# crime_df['Crm Cd 1'] = crime_df['Crm Cd 1'].fillna(np.nan)
# crime_df['Crm Cd 2'] = crime_df['Crm Cd 2'].fillna(np.nan)
# crime_df['Crm Cd 3'] = crime_df['Crm Cd 3'].fillna(np.nan)
# crime_df['Crm Cd 4'] = crime_df['Crm Cd 4'].fillna(np.nan)

# crime_df['Cross Street'] = crime_df['Cross Street'].fillna(np.nan)

# # Verify the result
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005104 entries, 0 to 1005103
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1005104 non-null  int64
 1   Date Rptd       1005104 non-null  object
 2   DATE OCC        1005104 non-null  object
 3   TIME OCC        1005104 non-null  int64
 4   AREA            1005104 non-null  int64
 5   AREA NAME       1005104 non-null  object
 6   Rpt Dist No     1005104 non-null  int64
 7   Part 1-2        1005104 non-null  int64
 8   Crm Cd          1005104 non-null  int64
 9   Crm Cd Desc     1005104 non-null  object
 10  Mocodes         853380 non-null   object
 11  Vict Age        1005104 non-null  int64
 12  Vict Sex        860353 non-null   object
 13  Vict Descent    860341 non-null   object
 14  Premis Cd       1005088 non-null  float64
 15  Premis Desc     1004516 non-null  object
 16  Weapon Used Cd  327244 non-null   float64
 17  Weapon Desc     327244 non-null   object
 18  Status          1005103 non-null  object
 19  Status Desc     1005104 non-null  object
 20  Crm Cd 1        1005093 non-null  float64
 21  Crm Cd 2        69146 non-null    float64
 22  Crm Cd 3        2315 non-null     float64
 23  Crm Cd 4        64 non-null       float64
 24  LOCATION        1005104 non-null  object
 25  Cross Street    154237 non-null   object
 26  LAT             1005104 non-null  float64
 27  LON             1005104 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 214.7+ MB

### Correcting Time Format

In [7]:
import re
#creating copy of our DF
crime_df_edt = crime_df.copy()
# Convert 'DATE OCC' to datetime format
crime_df_edt['DATE OCC'] = pd.to_datetime(crime_df_edt['DATE OCC'])

# removing all single quotes with Regex from "TIME OCC" column
# "[^\d]" -  match any character that is NOT a digit 
crime_df_edt['TIME OCC'] = crime_df_edt['TIME OCC'].astype(str).str.replace(r"[^\d]", "", regex=True)
# Ensure 'TIME OCC' is a 4-digit string (e.g., '930' â†’ '0930')
crime_df_edt['TIME OCC'] = crime_df_edt['TIME OCC'].astype(str).str.zfill(4)

# Convert 'TIME OCC' into HH:MM:SS format
crime_df_edt['time_formatted'] = crime_df_edt['TIME OCC'].str[:2] + ":" + crime_df_edt['TIME OCC'].str[2:] + ":00"
# Combine 'DATE OCC' and formatted time into a single timestamp
crime_df_edt['crime_timestamp'] = pd.to_datetime(crime_df_edt['DATE OCC'].astype(str) + " " + crime_df_edt['time_formatted'])

# Drop the intermediate column 'time_formatted' (optional)
crime_df_edt.drop(columns=['time_formatted'], inplace=True)

crime_df_edt.head()

/var/folders/cf/117zpz0s7vdbnznx_vs2kls80000gn/T/ipykernel_35845/3774130617.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  crime_df_edt['DATE OCC'] = pd.to_datetime(crime_df_edt['DATE OCC'])

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,crime_timestamp
0,190326475,03/01/2020 12:00:00 AM,2020-03-01,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506,2020-03-01 21:30:00
1,200106753,02/09/2020 12:00:00 AM,2020-02-08,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628,2020-02-08 18:00:00
2,200320258,11/11/2020 12:00:00 AM,2020-11-04,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002,2020-11-04 17:00:00
3,200907217,05/10/2023 12:00:00 AM,2020-03-10,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387,2020-03-10 20:37:00
4,200412582,09/09/2020 12:00:00 AM,2020-09-09,0630,4,Hollenbeck,413,1,510,VEHICLE - STOLEN,...,Invest Cont,510.0,NaN,NaN,NaN,200 E AVENUE 28,NaN,34.0820,-118.2130,2020-09-09 06:30:00

### Correcting Data Format For All Other Columns

In [8]:
# Converting "AREA" and "Rpt Dist No" to string format
#  Removing any single quotes from AREA and Rpt Dist No columns
crime_df_edt["AREA"] = crime_df_edt["AREA"].astype(str).str.replace("'", "", regex=True)
crime_df_edt["Rpt Dist No"] = crime_df_edt["Rpt Dist No"].astype(str).str.replace("'", "", regex=True)
crime_df_edt["Crm Cd"] = crime_df_edt["Crm Cd"].astype(str)
crime_df_edt["Premis Cd"] = crime_df_edt["Premis Cd"].astype(str)

crime_df_edt.dtypes

DR_NO                       int64
Date Rptd                  object
DATE OCC           datetime64[ns]
TIME OCC                   object
AREA                       object
AREA NAME                  object
Rpt Dist No                object
Part 1-2                    int64
Crm Cd                     object
Crm Cd Desc                object
Mocodes                    object
Vict Age                    int64
Vict Sex                   object
Vict Descent               object
Premis Cd                  object
Premis Desc                object
Weapon Used Cd            float64
Weapon Desc                object
Status                     object
Status Desc                object
Crm Cd 1                  float64
Crm Cd 2                  float64
Crm Cd 3                  float64
Crm Cd 4                  float64
LOCATION                   object
Cross Street               object
LAT                       float64
LON                       float64
crime_timestamp    datetime64[ns]
dtype: object

In [9]:


# # Filter out rows where lat or lon is 0
# crime_df_with_coords = crime_df_edt[(crime_df_edt['LAT'] != 0) & (crime_df_edt['LON'] != 0)]
# # Check how many rows were removed
# print(f"Rows removed: {len(crime_df) - len(crime_df_with_coords )}")

### Splitting dataset by year

In [10]:
#creating column "Year" to separate the data into different DB
crime_df_edt["Year"] = crime_df_edt["DATE OCC"].dt.year

In [11]:
#exporting the data, ensuring that missing values are saved correctly using
crime_df.to_csv('resources/cleaned_data/crime_data.csv', index=False, na_rep='NULL')

In [12]:
# Spliting into separate DataFrames for each year
crime_2020 = crime_df_edt[crime_df_edt["Year"] == 2020].copy()
crime_2021 = crime_df_edt[crime_df_edt["Year"] == 2021].copy()
crime_2022 = crime_df_edt[crime_df_edt["Year"] == 2022].copy()
crime_2023 = crime_df_edt[crime_df_edt["Year"] == 2023].copy()
crime_2024 = crime_df_edt[crime_df_edt["Year"] == 2024].copy()

In [13]:
#Saving our DF splitted by year
crime_2020.to_csv("resources/cleaned_data/crime_2020.csv", index=False, na_rep='NULL')
crime_2021.to_csv("resources/cleaned_data/crime_2021.csv", index=False, na_rep='NULL')
crime_2022.to_csv("resources/cleaned_data/crime_2022.csv", index=False, na_rep='NULL')
crime_2023.to_csv("resources/cleaned_data/crime_2023.csv", index=False, na_rep='NULL')
crime_2024.to_csv("resources/cleaned_data/crime_2024.csv", index=False, na_rep='NULL')